<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="A"
id="btn1"
onclick="this.hidden=true"
>
A
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="B"
id="btn2"
>
B
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="C"
id="btn3"
>
C
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="D"
id="btn4"
>
D
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="E"
id="btn5"
>
E
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="F"
id="btn6"
>
F
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="G"
id="btn7"
>
G
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="H"
id="btn8"
>
H
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="I"
id="btn9"
>
I
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="J"
id="btn10"
>
J
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="K"
id="btn11"
>
K
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="L"
id="btn12"
>
L
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="M"
id="btn13"
>
M
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="N"
id="btn14"
>
N
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="O"
id="btn15"
>
O
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="P"
id="btn16"
>
P
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="Q"
id="btn17"
>
Q
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="R"
id="btn18"
>
R
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="S"
id="btn19"
>
S
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="T"
id="btn20"
>
T
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="U"
id="btn21"
>
U
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="V"
id="btn22"
>
V
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="W"
id="btn23"
>
W
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="X"
id="btn24"
>
X
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="Y"
id="btn25"
>
Y
</button>
<button
class="bg-cyan-800 p-2 2xl:w-24 2xl:h-24 w-16 h-16 hover:bg-yellow-400 hover:text-cyan-900 transition-all duration-500 rounded-sm hover:scale-125 hover:rounded-full"
type="submit"
name="letter"
value="Z"
id="btn26"
>
Z
</button>
