<!DOCTYPE html>
<html>
  <head>
    <title>HangMan - Django</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- other plugins for tailwind css -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          screens: {
            sm: "480px",
            md: "768px",
            lg: "1000px",
            xl: "1540px",
            "2xl": "2000px",
          },
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>

  <body class="text-center 2xl:px-40 px-32 m-0 bg-gray-800 bg-cover bgImage">
    <h1 class="text-cyan-900 text-5xl font-bold text-center py-8 text-gray-50">
      Welcome to
      <span class="bg-yellow-400 text-cyan-800 px-2 rounded-sm"
        >Hang<span class="text-gray-50">man</span></span
      >
      Game
    </h1>

    {% comment %} new game , go home {% endcomment %}
    <div class="flex justify-center">
      <div class="py-4">
        <a
          href="/"
          class="text-gray-50 text-lg m-4 hover:bg-yellow-400 hover:text-cyan-900 p-2 rounded-md transition-all duration-500 hover:font-semibold"
        >
          < Go Home
        </a>
      </div>
      <div class="py-4">
        <a
          href="/hangman"
          class="text-gray-50 text-lg m-4 hover:bg-yellow-400 hover:text-cyan-900 p-2 rounded-md transition-all duration-500 hover:font-semibold"
        >
          New Game
        </a>
      </div>
    </div>
    <div
      class="grid grid-cols-2 justify-center gap-4 justify-items-center bg-gradient-to-r from-yellow-500/70 to-cyan-500/70 shadow-2xl rounded-xl px-4 py-8 backdrop-blur-lg min-h-[75vh] transition-all duration-500 ease-in-out"
    >
      <div
        class="text-base text-left my-4 text-cyan-900 rounded-md p-4 flex flex-col"
      >
        <div class="rounded-lg bg-gray-50 p-4">
          <h3 class="font-semibold text-xl 2xl:text-3xl">How to play ?</h3>
          <ul class="font-normal text-xl 2xl:text-2xl py-2">
            <li>
              1. Fill in the letter everywhere it appears on the appropriate
              dash (or dashes) each time you guess correctly.
            </li>
            <li>2. Guess one letter at a time to reveal the secret word.</li>
            <li>3. Use alphabet only once</li>
            <!-- <li>3. You </li> -->
          </ul>
        </div>

        <div class="p-4 bg-gray-50 rounded-lg mt-2 h-full">
          <h1 class="text-cyan-800 font-semibold text-xl 2xl:text-3xl">
            Guessed Letters:
          </h1>
          <p class="text-4xl py-4 text-cyan-800">{{GuessedLetters}}</p>
        </div>
      </div>
      <div class="flex flex-col justify-items-center justify-around">
        <div>
          <div class="text-5xl py-4 font-bold text-yellow-400 2xl:text-7xl">
            <p class="my-4">Guess the word:</p>
            <span
              class="tracking-widest text-cyan-900 my-4 rounded-lg ml-2 px-4"
              >{{MissionWord}}</span
            >
          </div>

          <p class="text-gray-50 text-2xl 2xl:text-4xl py-8">
            You have
            <span class="text-yellow-400 font-bold shadow-xl px-4"
              >{{chancesLeft}}</span
            >
            remaining chances left
          </p>
          <p class="my-2 text-2xl">{{status}}</p>
        </div>

        <form
          class="flex flex-wrap items-strech gap-4 justify-center justify-items-center py-4 text-gray-50 text-3xl"
          action="/hangman/guess"
          method="POST"
        >
          {% comment %}
          <input type="hidden" name="alphabet" value="{{ game.alphabet }}" /> {%
          endcomment %} {% comment %} Render All Buttons {% endcomment %} {%comment %} {{buttons}} {% endcomment %} 
          {% if AllAlphabets == True %}
          {% include "./Alphabets.html" %} {% else %}


          <p>
            <div class="py-4">
            <p class="py-4">The Word is {{RevealWord}}</p>
              <a
                href="/hangman"
                class="text-lg m-4  bg-yellow-400 hover:bg-cyan-800 text-cyan-800 hover:text-gray-50 p-2 rounded-md transition-all duration-500 hover:font-semibold"
              >
                New Game
              </a>
            </div>
             {% endif%}
            <!--  Since, the route is internal, we need to specify csrf_token which is handled by middleware -->
            {% csrf_token %}
          </p>
        </form>
      </div>
    </div>

    <script>
      for (let i = 0; i < 10; i++) {
        button_id = "btn" + i;
        console.log(button_id);
        document.querySelector(`${button_id}`).classList.add("hidden");
      }
    </script>
  </body>
</html>
